.postlist {
    width: 80%;
    margin: auto;
    text-align: center;
}

.page-content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.notfound {
    text-align: center;
}